{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Display any error messages #}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>

<div class="row">
    <div class="col">
        {# User's Profile Picture #}
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        {# Indicate which user's reviews we're looking at #}
        {% if username %}
            <h2>{{username}}'s Reviews</h2>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        {# Show all reviews made by the user #}
        {# Reviews #}
        <div class="row">
        <div class="col-md-12">
            <h1> {{ num }} Reviews <small class="float-right">{{ reviews|length }} reviews</small></h1>
            <ul class="media-list">
            {% for review in reviews %}
            <li class="media review-item">
                <img class="mr-3 comment-pic" src="data:image/png;base64,{{review.image}}" alt="">
                <div class="media-body">
                <span class="float-right">
                    <small>{{ review.date }}</small>
                </span>
                <a href="{{ url_for('user_detail', username=review.commenter.username) }}">
                    <strong>@{{ review.commenter.username }}</strong>
                </a>
                <p>
                    {{ review.content }}
                </p>
                <span class="float-right">
                {# adds movie and links to it #}
                <a href="{{ url_for('movie_detail', movie_id= review.imdb_id) }}">
                    <small>{{ review.movie_title }}</small>
                </a>
                </span>
                </div>
            </li>
            {% endfor %}
            </ul>
        </div>
        </div>
    </div>
</div>

{% endblock %}